/*  your css code here. If applicable */
body {
    background-color: #f8f8f8;
    padding: 10px 30px;
    font-family: Arial, sans-serif;
}

.book-library {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2)
}

.book-library h1 {
    background-color: #f2f1f1;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 24px;
}

.book {
    background-color: #f2f1f1;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

.book img {
    width: 180px;
    display: block;
    margin: 0 auto 15px auto;
}

.book h2 {
    padding: 0;
    margin: 0 0 5px 0;
    /* text-transform: uppercase; */
}

.author {
    color: #777777;
    padding: 0;
    margin: 0 0 15px 0;
}

.price-block {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}